:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

button {
	margin: 5px;
	padding: 0.6em 1.2em;
	color: #021f9e;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: rgb(230, 235, 253);
	cursor: pointer;
	transition: border-color 0.25s;
	text-shadow: 0.0625rem 0.0625rem 0.0625rem #fff;
	border: none;
	padding: 0.5rem 0.8rem;
	border-radius: 4px;
}
button:hover {
	box-shadow: -3px -3px 20px #fff, 1px 1px 1px rgb(119, 118, 120);
}

button:active {
	box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: rgb(231, 233, 239);
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
